body {
  background-color: black;
}

.post-div {
  background-color: #bc2929;
  padding: 20px;
  margin: 5px;
  border: inset 5px #9b2323;
  border-radius: 5px;
  opacity: .9;
}

.post-pic {
  height: 150px;
}

#article{
  height: 100px;
  width: 200px;
}

#myPopup {
  padding: 10px;
  background-color: lightgray;
  position: relative;
  border: outset 10px skyblue;
  z-index: 2;
  margin-top: -500px;
  margin-left: 15%;
  height: 600px;
  width: 70%;
  border-radius: 5px !important;

}

#myPopup button {
  border: 3px outset skyblue;
  border-radius: 5px !important;

}



#exit-butt{
  float: right;
  border: 3px outset skyblue;
  border-radius: 5px !important;

}

.jumbotron {
  background-color: darkorange;
  border: inset 5px #9b2323;
  border-radius: 5px !important;

}

.btn-danger {
  border-radius: 5px;
}

.snavbar nav{
  background-color: orange;
  border: inset #9b2323 5px;
  border-radius: 2px;
}

#pumpkin-butt{
  background-color: transparent;
  width: 100%;
}
#pumpkin-butt-img{
  max-width: 30px;
}
.new-post-label {
  width: 50px;
}

#sound {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.1;
}
