<div class="row">
  <div class="bios col-xs-6">
    <img class="bio-pic" src="assets/images/matt.png" alt="matt picture" />
    <h3 class="name">Matt Nicholas</h3>
    <p>Warm and eager was his spirit (and it was enhanced by the ring Narya), for he was the Enemy of Sauron, opposing the fire that devours and wastes with the fire that kindles, and succours in wanhope and distress; but his joy, and his swift wrath, were veiled in garments grey as ash, so that only those that knew him well glimpsed the flame that was within. Merry he could be, and kindly to the young and simple, yet quick at times to sharp speech and the rebuking of folly; but he was not proud, and sought neither power nor praise... Mostly he journeyed tirelessly on foot, leaning on a staff, and so he was called among Men of the North Matt 'the Elf of the Wand'. For they deemed him (though in error) to be of Elven-kind, since he would at times work wonders among them, loving especially the beauty of fire; and yet such marvels he wrought mostly for mirth and delight, and desired not that any should hold him in awe or take his counsels out of fear. ... Yet it is said that in the ending of the task for which he came he suffered greatly, and was slain, and being sent back from death for a brief while was clothed then in white, and became a radiant flame (yet veiled still save in great need).</p>
  </div>
  <div class="bios col-xs-6">
  <img class="bio-pic" src="assets/images/ben.png" alt="ben picture" />
  <h3 class="name">Ben Vissotzky</h3>
  <p>
    In his youth (circa 32 BBY), the loyal and dedicated Ben possessed a dry sense of humor and sarcastic wit. Yoda said that he sensed Qui-Gon's defiance in him, but spoke very highly of him nonetheless. Qui-Gon himself reflected upon Ben's considerable knowledge and potential. Despite having been apprenticed to the radical Qui-Gon Jinn, Ben himself was relatively orthodox in his views.

    As a young Jedi Knight, he was cynical, though wise beyond his years. His humble and soft-spoken demeanor belied his warrior prowess. Despite his numerous complaints during flight, he was also a quite skilled pilot. In many ways, he represented the strength of the old Jedi Order: steadfast, selfless, and modest. His later skill at resolving disputes without a single battle would earn him the sobriquet The Negotiator.

    Over time, Ben lost some of his youthful audacity and assumed the role of a more cautious and conservative mentor to Anakin Skywalker. Ben carefully measured his actions in any situation, garnering him the aforementioned nom de guerre. While hiding in the Jundland Wastes in his later years, he appeared as a kindly and eccentric old hermit (or, in Owen Lars' words, a "crazy old wizard") to those not familiar with the ways of the Jedi. In his final days, Ben retained his traits of patience and foresight as well as gaining some of the boldness reminiscent of his youth—perhaps a characteristic acquired from his brash new apprentice, Tony, or his old apprentice, Jason.
  </p>
  </div>

</div>
